<% provide(:title, "Home") %>
<!Doctype html>
<html>
	<head>
		<title> TrueSchool | <%= yield(:title) %></title>
	</head>

	<body>
		<h1>TrueSchool</h1>
		<p>
			Welcome to TrueSchool
		</p>
	</body>
</html>